<% layout('../../layouts/public') %>

<div class="container">
    <form id="loginform" class="form-horizontal" role="form" method="post" action="/register" validate>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 loginbox">

                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
                        <!--<img src="https://s4.postimg.org/64q1bgunx/logo_3.png" alt="Logo" class="logo"> -->
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6  ">
                        <span class="singtext">Sign Up </span>   
                    </div>          
                </div>
                <div class="row loginbox_content ">                        
                    <div class="input-group input-group-sm" >
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input type="text" class="form-control" name="username" value="" placeholder="username">
                    </div>
                    <br>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input type="password" class="form-control" name="password" placeholder="password">
                    </div> 
                    <br>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input type="password" class="form-control" name="password_conf" placeholder="Confirm password">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7 noaccount">
                        Already have an account! Sign In <a href="/login">Here</a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                        <button type="submit" class="btn btn-default pull-right submit-btn">
                            Submit <span class="glyphicon glyphicon-ok"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>