<header class="l-header">
    <div class="l-header__inner clearfix">
        <div class="c-header-icon js-hamburger">
            <div class="hamburger-toggle">
                <span class="bar-top"></span>
                <span class="bar-mid"></span>
                <span class="bar-bot"></span>
            </div>
        </div>
        <div class="c-header-icon has-dropdown">
            <span class="c-badge c-badge--header-icon animated shake user-count">0</span>
            <i class="glyphicon glyphicon-user"></i>
            <div class="c-dropdown c-dropdown--notifications">
                <div class="c-dropdown__header"></div>
                <div class="c-dropdown__content"></div>
            </div>
        </div>
        <div class="c-search">
            <input class="c-search__input u-input" placeholder="Search . . . ." type="text"/>
        </div>
        <div class="header-icons-group">
            <a href="/logout">
                <div class="c-header-icon logout">
                    <i class="glyphicon glyphicon-off"></i>
                </div>
            </a>
        </div>
    </div>
</header>