<div class="l-sidebar">
    <div class="logo">
        <div class="logo__txt">G</div>
    </div>
    <div class="l-sidebar__content">
        <nav class="c-menu js-menu">
            <ul class="u-list">
                <li class="c-menu__item <%= (url == 'dashboard') ? 'is-active' : '' %> has-submenu" data-toggle="tooltip" title="User Management">
                    <a href="/dashboard">
                        <div class="c-menu__item__inner">
                            <i class="glyphicon glyphicon-list"></i>
                            <div class="c-menu-item__title">
                                <span>User Management</span>
                            </div>
                        </div>
                    </a>
                </li>
                
                <li class="c-menu__item <%= (url == 'profile') ? 'is-active' : '' %>" data-toggle="tooltip" title="Profile">
                    <a href="/profile">
                        <div class="c-menu__item__inner">
                            <i class="glyphicon glyphicon-cog"></i>
                            <div class="c-menu-item__title">
                                <span>Profile</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>