<% layout('./app') %>

<% include ../partials/header %>

<% include ../partials/sidebar %>

<main class="l-main">
    <div class="content-wrapper content-wrapper--with-bg">
        <div class="list-group">
            <li class="list-group-item">

                <%-body %>
                
            </li>
        </div>        
    </div>
</main>

<script type="text/javascript">
    //Set base url as global variable
    var baseUrl = "<%= baseUrl %>";
</script>

<script src="/javascripts/global.js"></script>

<div class="modal fade" tabindex="-1" role="dialog" id="global-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
    </div>
  </div>
</div>