<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Node.js mysql auth</title>
        <link rel='stylesheet' href='/stylesheets/style.css'>
        <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
        
        <script src="/javascripts/jquery-2.0.3.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/jquery-blockui.js"></script>

        <script type="text/javascript">
            window.onbeforeunload = function (e)
            {
                $.blockUI({message: '<img src="/images/loader.gif">', css: { backgroundColor: 'transparent', border: 'none', cursor: 'wait'}, baseZ: 999999999 });
            };

            $(document).ajaxStart(function ()
            {
                $.blockUI({message: '<img src="/images/loader.gif">', css: { backgroundColor: 'transparent', border: 'none', cursor: 'wait'}, baseZ:9999999999999 });
            }).ajaxStop(function ()
            {
                $.unblockUI();
            });
        </script>
    </head>
    <body class="sidebar-is-reduced sidebar-is-expanded">
        
        <%-body %>
        
        <% if (typeof message != 'undefined' && message.length) { %>

            <script type="text/javascript">
                alert("<%= message %>");
            </script>
            
        <% } %>
    </body>
</html>