<% layout('../../layouts/admin') %>

<div class="row">
    <div class="col-md-6">
        <h4>User management:</h3>
    </div>
    <div class="col-md-6">
        <button class="btn btn-default pull-right" onclick="showUserForm()">
            <i class="glyphicon glyphicon-plus"></i>&nbsp;Add User
        </button>
    </div>
    &nbsp;
    <div class="col-md-12" id="userList">
        <table class="table table-stripped table-hover">
            <thead>
                <tr>
                    <td>Username</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Join Date</td>
                    <!--<td>Last Update</td>-->
                    <td class="text-center" width="20%">Action</td>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>